.heroe-overview-container {
    display: inline-block;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.heroe-overview-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}